html,
body {
    margin: 0;
    background: rgb(108, 162, 194);
    background-image: url("/assets/img/backgraund.jpeg");

}

.wrapper {
    height: 500px;
    width: 650px;
    margin: 150px auto 0 auto;
    background: rgb(148, 179, 211);
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 75%;
    text-align: justify;
    line-height: 24px;
}

.input {
    width: 25%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 20px;
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.mathOperation {
    width: 45px;
    height: 45px;
    margin: 0 15px;
    background-color: #b9d5e1;
    border-radius: 8px;
}

.mathOperation:hover {
    background: #d9e4bc;
}

.mathOperation .icon {
    width: 75%;
}

.total_wrapper {
    width: 28%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.total_wrapper h3 {
    margin-right: 15px;
}

.total_wrapper .total {
    background-color: transparent;
    border: none;
    width: 50%;
    font-size: 18px;
    padding-left: 10px;
}

.total_error {
    display: none;
    width: 30%;
    height: 6%;
    border: none;
    background: #f0bebb;
    color: red;
    text-align: center;
    font-size: 1em;
    font-weight: 600;

}